.login-btn {
    background-color: white;
    color: #008a20;
    border: 2px solid #008a20;
    padding: 1.2rem;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.3s;
  }
  
  .login-btn:hover {
    background-color: #008a20;
    color: white;
  }